/* Index CSS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  --font-family: "DM Sans", sans-serif;
  font-family: var(--font-family);
}

html, main, #root, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* No Drag - No Highlight */
.no-highlight-or-drag {
  -webkit-user-select: none;  
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}