/* Canvas Box */
.canvas-box {
  height: calc(100% - 22px);
  width: calc(100% - 22px);
  overflow: visible !important;
  padding: 5px;
}

/* Scrollbar */
.canvas-box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
.canvas-box::-webkit-scrollbar-track {
  background-color: rgb(45, 45, 46);
}
 
.canvas-box::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: darkgrey;
}