.blueprint-dropbox {
  transition: padding 100ms ease-in-out, margin 100ms ease-in-out, border-color 250ms ease-in-out;
  position: static;
  border-radius: 10px;
  display: flex;
}

/* Border Highlight */
.top-border-highlight::before {
  content: '';
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 3px solid transparent;
  pointer-events: none;
}

.right-border-highlight::after {
  content: '';
  display: block;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  border: 3px solid transparent;
  pointer-events: none;
}

.bottom-border-highlight::after {
  content: '';
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 3px solid transparent;
  pointer-events: none;
}

.left-border-highlight::before {
  content: '';
  display: block;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  border: 3px solid transparent;
  pointer-events: none;
}