.interactive-container {
  position: static;
  margin: 5px;
}

/* Active Container Interactive Bar */
#active-type-container {
  position: relative;
  z-index: 8;
}

#active-type-label {
  position: absolute;
  width: fit-content;
  font-weight: 800;
  background-color: #9296F0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: -26px;
  margin-left: -3px;
  z-index: 8;
}

/* Hovered Container */
.imitation-container::after {
  content: "";
  width: 97%;
  height: 97%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  border: 2px transparent dashed;
  transition: border 200ms ease-in-out;
}

.actively-hovered-container {
  z-index: 2;
  position: relative;
}

.actively-hovered-container::after {
  border: 2px white dashed;
}

/* Border Highlight */
.top-border-highlight {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 0px 3px white;
  pointer-events: none;
  opacity: 0;
  animation: appear 200ms forwards;
}

.right-border-highlight {
  display: block;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 0px 3px white;
  pointer-events: none;
  opacity: 0;
  animation: appear 200ms forwards;
}

.bottom-border-highlight {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 0px 3px white;
  pointer-events: none;
  opacity: 0;
  animation: appear 200ms forwards;
}

.left-border-highlight {
  display: block;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 0px 3px white;
  pointer-events: none;
  opacity: 0;
  animation: appear 200ms forwards;
}

/* Animations */
@keyframes appear {
  100% {
    opacity: 1;
  }
}