/* Page Builder */
#page-builder {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-2);
  font-size: 20px;

  /* Variables */
  --background-color-1: rgb(92, 93, 141);
  --background-color-2: rgb(243, 243, 243);
  --background-color-3: rgb(153, 161, 166);

  --border-color-1: rgba(31, 31, 31, 0.842);
}