/* Page Builder */
#page-builder {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-2);
  font-size: 20px;

  /* Variables */
  --background-color-1: rgb(23, 23, 24);
  --background-color-2: rgb(37, 36, 36);
  --background-color-3: rgb(53, 53, 53);

  --border-color-1: rgba(77, 77, 77, 0.842);
}

/* Toolbar */
#toolbar {
  font-family: var(--font-family);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  height: 4rem;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color-1);
  border-bottom: 1px solid var(--border-color-1);
}

/* Toolbar Content */
.toolbar-bttn {
  padding: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.toolbar-bttn:hover {
  background-color: var(--background-color-2);
}

.toolbar-bttn:active {
  background-color: var(--background-color-2);
  border: 1px solid var(--border-color-1);
}